img{
    width: 200px;
    height: 200px;
}

table, th, td{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px;
}

.titulo{
    background-color: #20bfee;
}

.legenda{
    background-color: #41cbd2;
}

tr:nth-child(2n+3){
    background-color: #bce989;
}

td{
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}

table{
    margin: auto;
    width: 870px;
}